
.form_add{
    margin: 5px;
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    
}

.container_add{
    
}

.form_add input{
    padding: 4px;
    height: 30px;
    resize: none;
    user-select: none;
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
    box-shadow: 0 0 3px white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form_add textarea{
    padding: 4px;
    height: 60px;
    resize: none;
    user-select: none;
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
    box-shadow: 0 0 3px white;
    border-radius: 5px;
    margin-bottom: 10px;
}


.btn_add{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 8px;
    padding: 0px 10px 0px 10px;
    user-select: none;
    cursor: pointer;
    color: white;
    background-color: rgb(37, 37, 37);
    box-shadow: 0 0 3px white;
    border-radius: 5px;
   
}

.btn_add:hover{
    cursor: pointer;
    background-color: rgb(68, 67, 67);
    transition: 0.5s;
}

.btn_add:active{
    box-shadow: 0 0 5px black;
    transform:scale(0.98);
}