*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
}

.post_container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px white;
    border-radius: 5px;
}

.post{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.img_container{
    display: flex;
    border-radius: 5px;
    width: 250px;
    height: 225px;
    margin-right: 10px;
}

.img_post{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    
}

.text_post{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.user{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 10px;
}

.img_user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}

.postComment{
    box-shadow: 0 0 3px white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.comment{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: solid rgb(66, 66, 66) 1px;
}

.img_comment{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}

.message_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.img_message{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}

.message{
    width: 100%;
}

.form_message{
    display: flex;
    align-items: center;
    margin-top: 5px;
    height: 40px;
}

.text_message {
    height: 100%;
    width: 100%;
    resize: none;
    user-select: none;
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
    box-shadow: 0 0 3px white;
    border-radius: 5px;
}

.btn_message{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 8px;
    padding: 0px 10px 0px 10px;
    user-select: none;
    cursor: pointer;
    color: white;
    background-color: rgb(37, 37, 37);
    box-shadow: 0 0 3px white;
    border-radius: 5px;
}

.btn_message:hover{
    cursor: pointer;
    background-color: rgb(68, 67, 67);
    transition: 0.5s;
}

.btn_message:active{
    box-shadow: 0 0 5px black;
    transform:scale(0.98);
}
