<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link href="../static/css/border.css" th:href="@{/css/border.css}" rel="stylesheet" />
</head>
<body>
<h1>Account </h1>
<h2 class="border" th:text="${user.firstName}"></h2>
<h2 class="border" th:text="${user.lastName}"></h2>
<div class="border">List: <a href="">All Advertisement</a> </div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>