<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet">
    <link href="../static/css/content.css" th:href="@{/css/content.css}" rel="stylesheet">

    <link href="../static/css/allPage.css" th:href="@{/css/allPage.css}" rel="stylesheet">
    <link href="../static/css/updatePost.css" th:href="@{/css/updatePost.css}" rel="stylesheet">
</head>

<body>
  <header>
    <div id=10 class="header">
      <div class="wrrapper_logo">
        <h2 class="logo_text">Post</h2>
      </div>

      <div class="wrrapper_button">
        <button class="btn_index">Пошук</button>
        <a class="btn_index" th:href="@{/}">Головна</a>
        <form th:if="${session.authId != 0}" th:action="@{/logout}" method="post">
          <button class="btn_index" type="submit">Вийти</button>
        </form>
        <a class="btn_index" th:unless="${session.authId != 0}" th:href="@{/login}">Вхід</a>
      </div>
    </div>
  </header>
  <div class="content">
    <div class="content_left">
      <li class="li_content">
        <ul th:if="${session.authId != 0}"
            onclick='clickAccount(this)' th:id="${session.authId}"
            class="ul_content">Акаунт</ul>
        <ul id="ul2" class="ul_content">Головна</ul>
        <ul id="ul3" class="ul_content">Пошук</ul>
        <ul id="ul4" class="ul_content">Про Нас</ul>
      </li>
    </div>
    <div class="content_right">
      <div class="container_registration">
        <form class="form_update" id="forma" th:action="@{/account/edit/{id}(id = ${session.authId})}" method="post" th:object="${editUser}">
          <input type="hidden" name="id" th:value="${session.authId}">
          <input placeholder="FirstName" name="firstName" type="text" th:value="*{firstName}">
          <input placeholder="LastName" name="lastName" type="text" th:value="*{lastName}">
          <input placeholder="Email" name="email" type="text" th:value="*{email}">
          <input placeholder="Password" name="password" type="password">
          <input placeholder="Img" name="img" type="text" th:value="*{img}">

          <button class="btn_update" type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>

  <footer>
    <h6>Україна 2021 Львів "BOARD"</h6>
  </footer>

  <script src='/script/button.js'></script>

</body>

</html>