<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet">
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet">
    <link href="../static/css/content.css" th:href="@{/css/content.css}" rel="stylesheet">

    <link href="../static/css/allPage.css" th:href="@{/css/allPage.css}" rel="stylesheet">
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body>

<header>
    <div id=10 class="header">
        <div class="wrrapper_logo">
            <h2 class="logo_text">Post</h2>
        </div>

        <div class="wrrapper_button">
            <button class="btn_index">Пошук</button>
            <form th:action="@{/logout}" method="post">
                <input class="btn_index" type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>
</header>
<div class="content">
    <div class="content_left">
        <li class="li_content">
            <ul th:if="${userAuth.getId() != 0}"
                onclick='clickAccount(this)' th:id="${userAuth.getId()}"
                class="ul_content">Акаунт</ul>
            <ul id="ul2" class="ul_content">Головна</ul>
            <ul id="ul3" class="ul_content">Пошук</ul>
            <ul id="ul4" class="ul_content">Про Нас</ul>
        </li>
    </div>
    <div class="content_right">
            <div th:each="post : ${posts}">
                <div onclick='clickDivElem(this)' th:id="${post.getId()}" class="element">
                    <img id="img" src="https://хлебов.рф/files/no_photo3.jpg" th:src="${post.getImg()}" alt="null">
                    <p class="name" th:text="${post.getName()}">Name</p>
                    <p class="price" th:text="${post.getPrice()}">Price</p>
                    <p class="location" th:text="*{location}">Location</p>
                    <p class="dataPublication" th:text="${post.getData()}">Date</p>
                </div>
            </div>
    </div>

</div>

<footer>
    <h6>Україна 2021 Львів "BOARD"</h6>
</footer>

<script src='/script/button.js'></script>

</body>

</html>